.dog-owner-info {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .dog-owner-info h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #110101;
  }
  
  .dog-owner-info p {
    margin: 5px 0;
    color: #ffffff;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .dog-owner-info {
      width: 100%;
      margin-right: 0;
      align-items: center;
      text-align: center;
    }
  
    .dog-owner-info h4,
    .dog-owner-info p {
      text-align: center;
    }
  }
  