/* Address.css */

.address-container {
    position: fixed;  
    bottom: 10px;        
    left: 10px;          
    font-size: 0.9rem;
    color: white;
    text-align: left;

}

@media (max-width: 768px) {
    .address-container {
        font-size: 0.8rem;
        left: 10px;    
        bottom: 10px;  
        text-align: left;  
    }
}
