
.full-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center;     /* Center horizontally */
    min-height: 100vh;       /* Occupy the entire viewport */
    position: relative;
    overflow: hidden;        /* Prevent scrolling */
}

/* Home container: centered content */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center;     /* Center horizontally */
    padding-top: 0;
    margin: 0;
    position: relative;
    flex-grow: 1;
    height: 100vh;           /* Fix the container height to viewport height */
    overflow: hidden;        /* Prevent any overflow from causing scrolling */
}

@media (max-width: 768px) {
    .home-container {
        width: 100%;
    }
}