/* Map container */
.map-container {
    position: fixed;
    bottom: 10px; 
    right: 20px;
    z-index: 10;
    border-radius: 12px 12px 6px 6px;
}

.map-image {
    width: 150px;
    height: auto;
    border-radius: 12px 12px 6px 6px;

}

@media (max-width: 768px) {
    .map-container {
        justify-content: center; 
    }

    .map-image {
        width: 200px;
        margin-bottom: 20px;

    }
}

@media (max-width: 820px) and (min-height: 1180px) {
    .map-container {
        bottom: 20px;  /* Keep map near the bottom */
        right: 40px;   /* Adjust right positioning for more padding */
    }

    .map-image {
        width: 200px; /* Increase the size of the map */
        height: auto;
    }
}

@media (max-width: 1400px) {
    .map-image {
        width: 120px; /* Increase the size of the map */
        height: auto;
    }
    

}