/* src/CSS/Catalog.css */

.catalog {
    padding: 20px;
  }
  
  .dog-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  
  .dog-card {
    background-color: #ffffffbb;
    border: 1px solid #300101;
    border-radius: 12px 12px 12px 12px;
    width: 300px;
    text-align: center;
    padding: 0px;
  }
  
  .dog-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .dog-image {
    width: 300px;
    height: 300px;
    border-radius: 12px 12px 0px 0px;
  }
  
  .dog-card h3 {
    margin: 10px 10px;
  }
  