/* src/CSS/Details.css */

.details {
    padding: 5px;
  }
  
  .dog-details-card {
    display: flex;
    background-color: #726660;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
  }
  
  /* Left Column: Image and Name */
  .dog-image-card {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    border-radius: 12px;
    align-items: center;
    margin-right: 20px;
    width: 320px;
    flex-shrink: 0;
  }
  
  .dog-image-card .dog-image {
    width: 300px;
    height: 300px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
  }
  
  .dog-image-card .dog-name {
    margin-top: 10px;
    color: #000000;
  }
  
  /* Middle Column: Fact Section */
  .dog-fact-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
  }
  
  .dog-fact-info h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #110101;
  }
  
  .dog-fact-info p {
    margin: 5px 0;
    color: #ffffff;
  }
  
  /* Right Column: Owner Section */
  .dog-owner-info {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .dog-owner-info h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #110101;
  }
  
  .dog-owner-info p {
    margin: 5px 0;
    color: #ffffff;
  }
  
  /* Adjustments for the entire card */
  .dog-details-card > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  /* Responsive Design */
  @media (max-width: 992px) {
    .dog-details-card {
      flex-direction: column;
      align-items: center;
    }
  
    .dog-image-card {
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 20px;
    }
  
    .dog-fact-info,
    .dog-owner-info {
      width: 100%;
      margin-right: 0;
      align-items: center;
      text-align: center;
    }
  
    .dog-fact-info h4,
    .dog-owner-info h4 {
      text-align: center;
    }
  
    .dog-fact-info p,
    .dog-owner-info p {
      text-align: center;
    }
  }
  