.content {
    margin-top: 7vh; 
    padding: 0;
  }
  
  .homeDogImage {
    display: block;
    width: 100%;
    height: auto; 
    object-fit: cover;
    margin: 0;
    padding: 0;
  }
  
  .map {
    display: block;
    width: 95%;
    margin: 20px auto;
  }
  
  .hbgMapImage {
    float: right;
    width: 150px;
    height: auto;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .centered-text-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    max-width: 50%;
    margin: 40px auto 10px;
  }
  
  .centered-text {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .smaller-centered-text {
    font-size: 1.2rem;
    color: white;
    text-align: center;
  }
  
  .address {
    clear: both;
    margin: 10px;
    font-size: 0.9rem;
    color: white;
    text-align: left;
  }
  
  @media (max-width: 768px) {
    .homeDogImage {
      margin-top: 7vh;
      width: 100%;
    }
  
    .centered-text-container {
      max-width: 90%;
      margin: 20px auto;
    }
  
    .centered-text {
      font-size: 1.5rem;
      text-align: center;
    }
  
    .smaller-centered-text {
      font-size: 1rem;
      text-align: center;
    }
  
    .hbgMapImage {
      width: 100%;
      float: none;
      margin-left: 0;
      text-align: center;
    }
  
    .map {
      width: 100%;
      margin-top: 20px;
    }
  
    .address {
      font-size: 0.8rem;
      text-align: center;
      margin: 10px auto;
    }
  }
  