/* LanguageSwitcher.css */

.language-switcher {
    display: flex;
    align-items: center;
  }
  
  .flag {
    width: 25px;
    height: 15px;
    margin-left: 10px;
    cursor: pointer; 
  }
  
  @media (max-width: 768px) {
    .language-switcher {
      display: none;
    }
  }