
.logo {
    display: flex;
    align-items: center;
  }
  
  .logo-link {
    display: flex;
    align-items: center;
    text-decoration: none; 
    color: inherit; 
  }
  
  .logo-icon {
    height: 40px;
    margin-right: 15px;
  }
  
  .logo-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
  }
  
  @media (max-width: 768px) {
    .logo-icon {
      height: 40px;
    }  
    .logo-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: white;
    }

  }