
.navigation-links {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    padding: 20px;
    margin-right: 0px;
    color: white;
    text-decoration: none;
  }
  
  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
  }
  
  .divider {
    width: 1px;
    height: 20px;
    background-color: white;
    margin: 0 50px;
  }
  @media (max-width: 768px) {
    .navigation-links {
    display: none;
    }
  }