
.catalog {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: calc(100vh - 1vh);
  position: relative; 
}

.clear-filters {
  position: absolute;
  top: 20px;
  right: 20px;
}

.clear-filters button {
  padding: 10px;
  font-size: 16px;
  background-color: #776969;
  color: #fff;
  border: 1px solid #776969;
  cursor: pointer;
}

.clear-filters button:hover {
  background-color: #5e5555;
}

@media (max-width: 768px) {
  .catalog {
    padding: 10px; /* Smaller padding for mobile */
  }

  .clear-filters {
    top: 10px; /* Adjust the position */
    right: 10px;
  }

  .clear-filters button {
    font-size: 14px; /* Smaller button text */
    padding: 6px 10px; /* Adjust button size */
  }
}