/* Catalog.css */

.catalog {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 1vh);
  position: relative;
  

}

.clear-filters-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 30px;
  width: auto;
}

.clear-filters-wrapper .selected-breeds-container {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, minmax(20px, auto)); 
  grid-auto-flow: column; 
  gap: 3px;
  align-items: start; 
  overflow: hidden;
}

.clear-filters {
  display: flex;
  justify-content: flex-end;
  margin-left: 15px;
}

.clear-filters button {
  padding: 11px 18px; 
  background-color: #cfa3a3; 
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(2, 1, 1, 0.1); 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.clear-filters button:hover {
  background-color: #bd8b8b; 
  transform: translateY(-3px); 
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); }



.search-and-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  margin-top: 15px;

}

.search-bar-position {
  display: flex;
  justify-content: center;  
  max-width: 400px;
  margin-right: 30px;      
}

.filter-button {
  padding: 11px 24px; 
  background-color: #cfa3a3; 
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(2, 1, 1, 0.1); 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.filter-button:hover {
  background-color: #bd8b8b; 
  transform: translateY(-3px); 
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); 
}


.filter-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-modal-content {
  background-color: #564A4A;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  height: 450px;
  overflow-y: auto;
  border: 1px solid #000000; 
  position: relative; 
}


.modal-actions {
  position: absolute;
  bottom: 10px; 
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; 
}

.save-button, .cancel-button {
  padding: 11px 18px; 
  background-color: #cfa3a3; 
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(2, 1, 1, 0.1); 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.save-button {
  margin-right: 15px; 
}

.cancel-button {
  margin-left: 15px; 
}

.save-button:hover {
  background-color: #69b667; 
  transform: translateY(-3px); 
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); 
}

.cancel-button:hover {
  background-color: #bb5a5a; 
  transform: translateY(-3px); 
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); 
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #000;
}

.search-and-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.selected-filters {
  position: absolute;
  left: 0;
}

.invisible-container {
  width: 100%;
  height: 50px;
  background-color: #f5f5f5; 
  margin-top: 10px;
  display: none; 
  justify-content: center; 
  align-items: center; 
  padding: 10px;
}

.invisible-container .selected-filters-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 768px) {
  .catalog {
    padding: 5px; 
  }

  .filter-button {
    order: -1; 
    width: auto;
    margin-top: 5px;
    margin-left: 20px;

  }
  .search-and-filter-container {
    margin-top: 0px;
  
  }

  .search-bar-position {
    justify-content: flex-start;
    width: 100%;
  }
  
  .clear-filters-wrapper {
    top: 10px;
    right: 3px;
  }
  .clear-filters button {
    padding: 11px 8px; 
    border-radius: 5px;
  }

  
  .mobile-filters-container {
    display: block;
    margin-top: 10px;
  }

  .invisible-container.active {
    display: flex; 
  }

  
}