
.dog-card {
    width: 240px;
    padding: 0;
    background-color: #ffffffbb;
    border: 1px solid #300101;
    border-radius: 12px;
    text-align: center;
  }
  
  .dog-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .dog-image {
    width: 240px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
  }
  
  .dog-card h3 {
    margin: 10px;
  }
  