/* DogCard.css */

.dog-card {
    width: 240px;
    padding: 0;
    background-color: #ffffffbb;
    border: 1px solid #300101;
    border-radius: 12px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 

  }
  

  .dog-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); 
  }
  
  .dog-image {
    width: 240px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
  }
  
  .dog-card h3 {
    margin: 10px;
    color: black; 
  }

  @media (max-width: 800px) {
    .dog-card {
      width: 110px;
    }
  
    .dog-image {
      width: 110px;
      height: 100px;
    }
  
    .dog-card h3 {
      font-size: 0.8rem;
    }
  }

  @media (max-width: 760px) {
    .dog-card {
      width: 110px;
    }
  
    .dog-image {
      width: 110px;
      height: 100px;
    }
  
    .dog-card h3 {
      font-size: 0.8rem;
    }
  }