/* Doggrid.css */

.dog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); 
  gap: 20px;
  justify-content: start; 
  box-sizing: border-box;
  padding: 0 20px; 
}

@media (max-width: 900px) {
  .dog-grid {
    grid-template-columns: repeat(3, minmax(120px, 1fr)); 
    gap: 10px;
    margin-right: 0px;
  }
}

@media (max-width: 800px) {
  .dog-grid {
    grid-template-columns: repeat(5, minmax(120px, 1fr)); 
    gap: 10px;
    margin-right: 0px;
  }
}


@media (max-width: 760px) {
  .dog-grid {
    grid-template-columns: repeat(3, minmax(120px, 1fr)); 
    gap: 10px;
    margin-right: 0px;
  }

  
  .dog-grid.filtered .dog-card:nth-child(1) {
    grid-column: span 3; 
  }

  
  .dog-grid.filtered .dog-card:nth-child(n+2) {
    grid-column: auto; 
  }
}

