/* SearchBar.css */

.search-bar {
    text-align: center;
    background-color: white; 
    border-radius: 8px;
  }
  
  .search-bar input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white; 
    color: black;
  }
  
 
  @media (max-width: 760px) {
    .selected-filters {
        display: flex;
        flex-wrap: wrap; 
        gap: 5px;
        align-items: center;
        margin-right: 10px; 
      }
      
      .selected-filter {
        padding: 5px;
        font-size: 12px;
      }
      
      .selected-filter button {
        font-size: 12px;
      }
      .search-bar {
        margin-left: 19px;
        margin-top: 5px;    
        max-width: 150px;
        margin-right: 5px;
      }


      
  }