#root {
  width: 100%; /* Ensure it takes full width of the viewport */
  margin: 0; /* Remove auto-centering */
  padding: 0; /* Remove padding that might push content inward */
}

body {
  background-color: #564A4A;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; 
}






.read-the-docs {
  color: #888;
}
